.DS_Store
.env.local
.expo/
.metro-health-check*
.npmrc
.turbo
.vercel
*.code-workspace
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
android/
dist/
ios/
node_modules
npm-debug.*
out
web-build/
yarn-error.log
